@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@font-face {
      font-family: "Myriad Pro";
      src: url("../fonts/MyriadProRegular.eot");
      src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
      url("../fonts/MyriadProRegular.woff") format("woff"),
      url("../fonts/MyriadProRegular.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
}

button:focus,
input:focus,
a:focus {
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
}

.block-1 {
  font-family: 'Ubuntu', sans-serif;
  background: #fff url("../img/accord-bg.png") 0 0 repeat-y;
  padding: 30px 60px;
}

.accord {
  margin: 0 auto;
}

.accord a {
  text-decoration: none;
}

.accord-header {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  color: #00bbf2;
}

.accord-header span {
  font-size: 24px;
}

.accord .panel-default {
  border: none;
  background: none;
  box-shadow: none;
}

.accord .panel-heading {
  color: #fff;
  background-color: #00bbf2;
  border: none;
  border-radius: 0;
}

.accord .panel-group .panel+.panel {
  margin-top: 2px;
}

.accord .panel-collapse {
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.accord .panel-body {
  color: #535353;
}

.block-2 {
  width: 800px;
  height: 500px;
  margin: 50px auto;
  padding-top: 20px;
  background: url("../img/tab-bg.png") center no-repeat;
  font-family: 'Myriad Pro', sans-serif;
}

.tab-panel {
  margin-left: 27px;
}

.tab-panel-item {
  text-decoration: none;
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  padding: 0 27px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 24px;
  height: 36px;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  color:  #080707;
  text-shadow: none;
}

.tab-panel-item:hover {
  color: #080707;
  text-decoration: none;
  text-shadow: none;
}

.tab-item-active {
  color: #ffffff;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.75);
  background-color: #03a6db;
  text-decoration: none;
}

input {
  outline: 0 !important;
}

.tab {
  width: 629px;
  height: 444px;
  margin: 0 auto;
  background: url("../img/tab-border.png") no-repeat;
}

.tab-form {
  display: none;
  position: relative;
  margin: 22px 0 0 24px;
  padding: 60px 40px;
  width: 581px;
  height: 364px;
  border-radius: 5px;
  border: 1px solid #7dd7f4;
  background-color: #000000;
}

.tab-form-active {
  display: block;
}

.tab-input {
  display: block;
  width: 482px;
  height: 61px;
  padding: 0 24px;
  font-family: 'Myriad Pro', sans-serif;
  color:  #ffffff;
  font-size: 24px;
  background: url("../img/tab-input.png") no-repeat;
  border: none;
}

.tab-input::-webkit-input-placeholder {
  color:  #ffffff;
} 
.tab-input::-moz-placeholder {
  color:  #ffffff;
}

.tab-input + input {
  margin-top: 30px;
}

.tab-lose {
  display: block;
  margin: 15px 0 50px 30px;
  color: #c51f03;
  font-size: 15px;
  text-decoration: none;
}

.tab-check {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

.tab-check-label {
  display: inline;
  padding-left: 10px;
  vertical-align: middle;
  font-family: 'Myriad Pro', sans-serif;
  color:  #6f6d6d;
  font-size: 15px;
  font-weight: 400;
}

.tab-input-check {
  margin-bottom: auto;
  vertical-align: middle;
}

.tab-button {
  position: absolute;
  right: -47px;
  bottom: 20px;
  padding: 0 30px 0 20px;
  background: -webkit-radial-gradient(circle farthest-side at 50%, #cf2303 0%, #7f0501 100%);
  background: -moz-radial-gradient(circle farthest-side at 50%, #cf2303 0%, #7f0501 100%);
  background: -o-radial-gradient(circle farthest-side at 50%, #cf2303 0%, #7f0501 100%);
  background: -ms-radial-gradient(circle farthest-side at 50%, #cf2303 0%, #7f0501 100%);
  background: radial-gradient(circle farthest-side at 50%, #cf2303 0%, #7f0501 100%);
  height: 41px;
  border: none;
  font-family: 'Myriad Pro', sans-serif;
  color:  #ffffff;
  font-size: 24px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.65); 
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.65); 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.65); 
}

.tab-button::before {
  content: '';
  position: absolute;
  top: 41px;
  right: 0;
  display: block;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-left: 11px solid #7f0501;
  border-top: 11px solid #7f0501;
}

.tab-lose:hover, .tab-lose:active {
  text-decoration: none;
  color: #c51f03;
  outline: none;
}

@media (max-width: 420px) {
  .block-1 {
    padding: 30px 10px;
  }
}
