body {
	margin: 0;
	font-size: 14px;
	font-family: sans-serif;
}

h2 {
	font-weight: 100;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 15px;
}
.image {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
}


.image-one {
	background: url(../img/1.jpg) center no-repeat;
	background-size: cover;
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.image-one:hover {
	opacity: 0.5;
}

.image-two {
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
}
.image-two .mask-two {
   opacity: 0;
   overflow: visible;
   border: 100px solid rgba(0,0,0,0.7);
   box-sizing: border-box;
   transition: all 0.4s ease-in-out;
}
.image-two:hover .mask-two {
   opacity: 1;
   border: 100px solid rgba(0,0,0,0.7);
}

.image-three {
	background: url(../img/3.jpg) center no-repeat;
	background-size: cover;
	opacity: 0.99;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.image-three:hover {
	opacity: 0.3;
}

.image-four {
	background: url(../img/4.jpg) center no-repeat;
	background-size: cover;
}
.image-four .mask-four {
   opacity: 0;
   overflow: visible;
   border: 100px solid rgba(128, 128, 128, 0.7);
   box-sizing: border-box;
   transition: all 0.3s ease-in-out;
}
.image-four:hover .mask-four {
   opacity: 1;
   border: 100px solid rgba(128, 128, 128, 0.7);
}

.button-one {
	border: none;
	font-weight: 700;
	font-size: 14px;
  color: white;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.3s;
}
.button-one:hover {
  background: rgba(64,199,129, 0.7);
  box-shadow: 0 15px 20px rgba(53,167,110,.4);
  transform: translateY(-7px);
}

.button-two {
	display: inline-block;
  margin-left: 100px;
  color: white;
  padding: .5em 2em;
  border: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.15s ease-in-out;
}
.button-two:hover {
  box-shadow: 0 0 10px 0 #FDBE33 inset, 0 0 10px 4px #D77206;
  color: #333;
  background: none;
  border: 1px solid #FDBE33;
}
