body {
  font-family: Tahoma, sans-serif;
  color: #333;
}

h1, h2 {
  font-size: 24px;
  font-weight: 900;
}

.btn {
  width: 310px;
  background-color: #2727d9;
}

.section {
  padding: 30px 0;
}

.header {
  line-height: 1.5;
  margin-bottom: 60px;
}

.header span {
  display: block;
  font-weight: 300;
  text-transform: none;
}

.main-form {
  padding: 30px 20px;
  border: 5px solid #2727d9;
}

.form-header {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 900;
}

.main-form input {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #333333;
  font-size: 18px;
}

.main-form-btn {
  margin: 12px auto;
}

.feature-header {
  margin-top: 50px;
}

.feature-col {
  margin: 0 50px;
  height: 160px;
}

.feature-col p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 900;
}

.feature-col img {
  height: 71px;
  width: 71px;
}

.feature-form-btn {
  margin: 20px 0;
}

.header-clients {
  margin: 20px 0 60px 0;
}

.clients-img {
  margin: 20px 0;
  text-align: center;
}

.clients-img img {
  width: 213px;
  height: 213px;
}


