 h1, h2, h3 {
  text-align: center;
 }

 .block-menu {
  text-align: center;
 }

 .block-menu ul {
  list-style: none;
 }

 .block-menu li {
  display: inline-block;
  margin: 0 20px 20px 0;
  padding: 10px;

  border: 1px solid #4c4a7d;
  background-color: #e0defa;
 }

 .block-menu a {
  text-decoration: none;
  color: #4c4a7d;
 }

 .block-menu a:hover {
  color: #000000;
 }

 .picture {
  padding: 10px;
  text-align: center;
  background-color: #e0defa;
 }

 .picture img {
  width: 300px;
  border: 1px solid #4c4a7d;
 }

 .style-b {
  font-weight: bold;
 }

 .style-i {
  font-style: italic;
 }

 .style-ins {
  text-decoration: underline;
 }

 .style-s {
  text-decoration: line-through;
 }