body {
  font-family: Arial;
  font-size: 12px;
  color: #333333;
}

.container {
  width: 570px;
  height: 570px;
  margin: 0;
  padding: 0;
  background: url("../img/bg.png") no-repeat;
}

.form {
  position: relative;
  width: 320px;
  height: 370px;
  padding: 50px 28px 15px 28px;
  margin-left: 124px;
  margin-top: 100px;
  
  border: 1px solid #e9f1f1;
  background-color: #fbfdfd;
}

.form-header {
  position: absolute;
  padding: 5px 8px;
  left: 30px;
  top: -5px;

  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #01b3b3;
}

.form-label {
  display: block;
  font-weight: 900;
}

.form-star {
  color: #01b3b3;
}

.form-btn {
  width: 262px;
  height: 47px;
  margin-top: 18px;

  font-size: 16px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  background: url("../img/btn.png") no-repeat;
  border: none;
}

.form-input {
  width: 100%;
  margin: 5px 0 16px 0;
  padding: 7px 12px;

  color: #777777;
  font-style: italic;
  border: 1px solid #cfdede;
  background: url("../img/bg.png") no-repeat;
}