* {
  box-sizing: border-box;
}

body {
  margin: 0
}

.section {
  display: table;
  min-height: 100vh;
  width: 100%;
  text-align: center;

}

.wrap-block {
  display: table-cell;
  vertical-align: middle;
  color: blue;
}