@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.map-block {
  position: relative;
  height: 450px;
}

.map-block-contact {
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 0;
  right: 50%;
  height: 450px;
  padding: 40px;
  background-color: #c60b0b;
  border: 1px solid #b81a02;
}

.map-block-contact h2 {
  margin: 30px;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}

.map-block-contact p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

.map-block-contact a {
  text-decoration: underline;
  font-size: 18px;
  color: #ffffff;
}

.bottom-block {
  padding-top: 20px;
  font-size: 16px;
}

.bottom-block-right {
  text-align: right;
  font-size: 14px;
}

.bottom-block-right strong {
  display: block;
  font-size: 22px;
}

.bottom-block-center {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #666666;
}

.media-body {
  width: 110px;
}

@media (max-width: 1190px) {
  .map-block-contact {
    padding: 40px 20px;
    right: 35%;
  }

  .map-block-contact p {
    font-size: 14px;
  }

  .map-block-contact a {
    font-size: 14px;
  }
}

@media (max-width: 810px) {
  .bottom-block-right {
    text-align: left;
  }

  .bottom-block-center {
    text-align: left;
    margin: 20px 0;
  }

  .map-block-contact {
    right: 0;
    top: 450px;
  }

}

@media (max-width: 450px) {
  .map-block-contact {
    position: relative;
    right: 0;
    top: 300px;
  }

}
